.git
.github
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env
.env
.env.*
*.md
This.docx
.gitignore
.dockerignore
docker-compose.yml
ecs
scripts
sample-flask-application.png
*.log
.DS_Store
